spring:
  datasource:
    url: jdbc:mysql://localhost:3306/techstore?useSSL=false
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDBDialect
        format_sql: true
  servlet:
    multipart:
      max-file-size: 30MB
      max-request-size: 30MB
  mail:
    host: smtp.gmail.com
    port: 587
    username: 
    password: 
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 
            client-secret: 
            redirect-uri: http://localhost:5173/oauth2/callback

api:
  prefix: api/v1

app:
  frontend-url: http://localhost:5173
  backend-url: http://localhost:8080

jwt:
  secret: 
  expiration: 1800000 #30 minutes = 30 * 60
  expiration-refresh-token: 604800000 #7 days = 7 * 24 * 60 * 60

cloudinary:
  cloud-name: 
  api-key: 
  api-secret: 